{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure       {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:local/root "/home/arne/github/clojurescript"} #_{:mvn/version "1.10.773"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:local/root "../kaocha"} #_{:mvn/version "1.0.632"}
                 lambdaisland/kaocha-cljs2 {:local/root "../kaocha-cljs2"}
                 lambdaisland/chui {:local/root "../chui"}}}}}
