#kaocha/v1
{:plugins [:notifier :hooks]
 :tests   [{:type                       :kaocha.type/cljs2
            :test-paths                 ["test"]
            #_#_:kaocha.hooks/pre-load-test [kc2d.hooks/compile-and-load]
            #_#_:kaocha.hooks/pre-load-test [kc2d.node-hooks/pre-load-test]}]

 :report [kaocha.report/documentation]
 :kaocha.plugin.capture-output/capture-output? false}
